<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Write New Chat</title>
  <link rel="stylesheet" href="/new.css" />
</head>
<body>
  <div class="chat-box">
    <h3>Write New Chat 💬</h3>
    <form action="/chats" method="POST">
      <div class="input-group">
        <input type="text" name="from" required>
        <label>From</label>
      </div>
      <div class="input-group">
        <input type="text" name="to" required>
        <label>To</label>
      </div>
      <div class="input-group">
        <textarea name="msg" required></textarea>
        <label>Message</label>
      </div>
      <button type="submit">Send Chat</button>
    </form>
  </div>
</body>
</html>
